<%-include('header')-%>
<div class="box" id = "heading">
  <h1>
    <%= listTitle %>
  </h1>
</div>

<div class="box">
  <% for(let i = 0; i < todoItems.length; i++){ %>
    <div class="item">

        <input type="checkbox" >
        <p>
         <%= listItems[i].items.name %>
      </p>
    </div>
  <%}%>
  <form  class = "item" action="/" method="post">
    <input type="text" name="todo" placeholder="Add todo" autocomplete="off">
    <button type="submit" value = "<%=title%>">+</button>
  </form>
</div>
<%-include('footer')-%>
